
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Inter-Regular_1.otf) format(opentype);
}

		
@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 500;
  src: url(../font/HarmonyOS_Sans_SC_Medium_1.ttf) format(truetype);
}

		
@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url(../font/HarmonyOS_Sans_SC_Regular_1.ttf) format(truetype);
}

		
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: url(../font/arial.ttf) format(truetype);
}

		